{% extends "layout.html" %}

{% block title %}
    display
{% endblock %}

{% block main %}
    <div class="container form-horizontal">
        <div class="row" style="font-size:150%">
            <div class="col-md-2">Stock</div>
            <div class="col-md-2">Shares</div>
            <div class="col-md-2">Price</div> 
            <div class="col-md-2">Date</div> 
         </div> 
        {% for elem in p %}
        <div class="row" style="font-size:110%">
            <div class="col-md-2">{{ elem.stock }}</div>
            <div class="col-md-2">{{ elem.shares }}</div>
            <div class="col-md-2">${{ elem.price }}</div> 
            <div class="col-md-2">${{ elem.date}}</div>
         </div>   
    {% endfor %}
    </div>
{% endblock %}
