{% extends "layout.html" %}

{% block title %}
    quote
{% endblock %}

{% block main %}

<form class="form-horizontal" action = "{{ url_for('quote') }}" method = "POST">
  <div class="form-group">
    <label class="col-md-4 control-label">Stock</label>
    <div class="col-md-4">
      <input type="input" class="form-control" placeholder="Symbol" name="stock">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-4 col-md-4">
      <button type="submit" class="btn btn-default">Get!</button>
    </div>
  </div>
</form>
{% endblock %}
